[Unit]
Description=ruTorrent
After=docker.service

[Service]
Type=simple
WorkingDirectory=/opt/rutorrent
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
