[Unit]
Description=datadog

[Service]
Type=simple
WorkingDirectory=/opt/datadog
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop
